:root {
    --b00: "#181818";
    --b01: "#282828";
    --b02: "#383838";
    --b03: "#585858";
    --b04: "#b8b8b8";
    --b05: "#d8d8d8";
    --b06: "#e8e8e8";
    --b07: "#f8f8f8";
    --b08: "#ab4642";
    --b09: "#dc9656";
    --b0a: "#f7ca88";
    --b0b: "#a1b56c";
    --b0c: "#86c1b9";
    --b0d: "#7cafc2";
    --b0e: "#ba8baf";
    --b0f: "#a16946";

    font-family: monospace;
    margin: 0;
    padding: 0;

    scrollbar-color: var(--b02) transparent;
}

main {
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 1fr 1.5fr;
    gap: 2em;
    margin: auto;
}

main,
section {
    border-radius: 15px;
    padding: 0.5em;
    background-color: var(--b01);
    border-color: var(--b02);
    border-width: 2px;
    border-style: solid;
}

body {
    color: var(--b05);
    background-color: var(--b00);
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--b05);
}

nav {
    display: grid;
    grid-template-areas: "logo right";
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    gap: 1em;
    padding: 1.5em 0;

    a:hover {
        text-decoration: none;
    }

    a {
        display: block;
        color: var(--b05);
        text-decoration: none;
        font-size: 1.4em;
        vertical-align: center;
    }

    .logo::before {
        content: "~ ";
        color: var(--b08);
    }

    .logo {
        grid-area: logo;
        font-weight: bold;
    }

    .logo:hover {
        color: var(--b08);
    }

    .link {
        grid-area: right;
        text-align: right;
    }
}

#wrapper {
    width: 60%;
    min-width: 1000px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul#navbar {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    align-items: center;
    margin: auto;
    align-content: center;
    justify-items: center;

    li {
        display: block;
    }
}


aside {
    grid-area: left;
    border-right: solid 2px var(--b02);
    h1 {
        margin-left: 1em;
        margin-bottom: 0.5em;
    }
}

ul#swatch {
    list-style-type: inside;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: calc(8 * 5em);
    padding: 0;
}

ul#swatch>li {
    display: grid;
    grid-template-columns: 2.5em 5.1em 2em;
    gap: 1em;
    margin: 1em;
}

article {
    grid-area: right;
    padding-right: 2em;
    height: calc(8 * 5.4rem);
}

div.color-display {
    display: block;
    border-radius: 100%;
    width: 2.5em;
    height: 2.5em;
    border-width: 2px;
    border-color: var(--b02);
    border-style: solid;
}


ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    counter-reset: item;
}

ol>li {
    font-size: 1.2em;
    margin: 0;
    padding: 1pt 0;
}

ol>li::before {
    display: inline-block;
    content: counter(item);
    counter-increment: item;
    color: var(--b04);
    padding-right: 1em;
}

input[type=text] {
    display: block;
    all: unset;
    border-color: var(--b02);
    background-color: var(--b01);
    color: var(--b05);
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    padding: 0 0.7em;
    width: 5.7em;
    font-size: 1.2em;
}

input[type=text]:focus {
    border-color: var(--b04);
}

.copy-suffix {
    display: block;
    vertical-align: text-top;
    margin: auto;
    color: var(--b04);
    user-select: none;
    transition: ease-in-out all 0.1s;
    border-radius: 5px;
    padding: 1px;
    margin-left: 3px;
}

#copy-output {
    user-select: none;
    color: var(--b04);
    border-radius: 5px;
    padding: 1px;
    vertical-align: text-top;
    margin-left: 3px;
}

section#generator {
    display: flex;
    padding: 1.5em;
    margin: auto;
    margin-top: 1em;
    gap: 2em;

    h1 {
        text-align: left;
        margin-top: 0;
    }
}

#generate {
    all: unset;
    padding: 0.7em;
    color: var(--b06);
    background-color: var(--b02);
    border-radius: 15px;
    border: 2px solid var(--b04);
}

#format {
    border-right: solid 2px var(--b02);
    width: max-content;
    padding-right: 2em;
}

.radio {
    font-size: 1em;
    display: flex;
    gap: 1em;
    flex-direction: column;
    padding-bottom: 1em;
    width: max-content;
    height: 11em;
    overflow-y: scroll;
}

.content {
    display: block;
    width: 100%;
    code {
        font-size: 1.2em;
    }
}

#output {
    display: block;
    overflow-y: scroll;
    height: 10em;
    border: solid 2px var(--b02);
    padding: 1em;
}


input[type=radio] {
    all: unset;
    float: left;
    border-radius: 100%;
    width: 1.2em;
    height: 1.2em;
    background-color: var(--b02);
    border: 1px solid var(--b04);
}

label {
    margin-left: 10px;
}

input[type=radio]:checked {
    background-color: var(--b05);
}

#generate:hover {
    cursor: pointer;
    border-color: var(--b05);
}

.copy-suffix:hover, #copy-output:hover {
    background-color: var(--b02);
    cursor: pointer;
}

.color-display[data-input-id="b00"] {
    background-color: var(--b00);
}

.color-display[data-input-id="b01"] {
    background-color: var(--b01);
}

.color-display[data-input-id="b02"] {
    background-color: var(--b02);
}

.color-display[data-input-id="b03"] {
    background-color: var(--b03);
}

.color-display[data-input-id="b04"] {
    background-color: var(--b04);
}

.color-display[data-input-id="b05"] {
    background-color: var(--b05);
}

.color-display[data-input-id="b06"] {
    background-color: var(--b06);
}

.color-display[data-input-id="b07"] {
    background-color: var(--b07);
}

.color-display[data-input-id="b08"] {
    background-color: var(--b08);
}

.color-display[data-input-id="b09"] {
    background-color: var(--b09);
}

.color-display[data-input-id="b0a"] {
    background-color: var(--b0a);
}

.color-display[data-input-id="b0b"] {
    background-color: var(--b0b);
}

.color-display[data-input-id="b0c"] {
    background-color: var(--b0c);
}

.color-display[data-input-id="b0d"] {
    background-color: var(--b0d);
}

.color-display[data-input-id="b0e"] {
    background-color: var(--b0e);
}

.color-display[data-input-id="b0f"] {
    background-color: var(--b0f);
}

.base16-keyword {
    color: var(--b09);
}

.base16-namespace {
    color: var(--b0A);
}

.base16-string {
    color: var(--b0B);
}

.base16-number {
    color: var(--b0D);
}

.base16-function {
    color: var(--b0E);
}

.base16-variable {
    color: var(--b08);
}

.base16-type {
    color: var(--b0C);
}

.base16-constant {
    color: var(--b09);
}
