:root {
    --b00: "#181818";
    --b01: "#282828";
    --b02: "#383838";
    --b03: "#585858";
    --b04: "#b8b8b8";
    --b05: "#d8d8d8";
    --b06: "#e8e8e8";
    --b07: "#f8f8f8";
    --b08: "#ab4642";
    --b09: "#dc9656";
    --b0a: "#f7ca88";
    --b0b: "#a1b56c";
    --b0c: "#86c1b9";
    --b0d: "#7cafc2";
    --b0e: "#ba8baf";
    --b0f: "#a16946";

    font-family: monospace;
}

body {
    color: var(--b05);
    background-color: var(--b00);
}

div {
    display: block;
    border-radius: 100%;
    width: 36px;
    height: 36px;
}

li {
    display: inline-flex;
}

input {
    display: block;
    all: unset;
    border-color: var(--b02);
    background-color: var(--b01);
    color: var(--b05);
}
