:root {
    --b00: "#181818";
    --b01: "#282828";
    --b02: "#383838";
    --b03: "#585858";
    --b04: "#b8b8b8";
    --b05: "#d8d8d8";
    --b06: "#e8e8e8";
    --b07: "#f8f8f8";
    --b08: "#ab4642";
    --b09: "#dc9656";
    --b0a: "#f7ca88";
    --b0b: "#a1b56c";
    --b0c: "#86c1b9";
    --b0d: "#7cafc2";
    --b0e: "#ba8baf";
    --b0f: "#a16946";

    font-family: monospace;
}

body {
    color: var(--b05);
    background-color: var(--b00);
}

div.color-display {
    display: block;
    border-radius: 100%;
    width: 3em;
    height: 3em;
    border-width: 2px;
    border-color: var(--b02);
    border-style: solid;
}

ul {
    list-style-type: inside;
    padding: 0;
}

li {
    display: grid;
    grid-template-columns: 36px 7em;
    gap: 1em;
    margin: 1em 0;
}

input[type=text] {
    display: block;
    all: unset;
    border-color: var(--b02);
    background-color: var(--b01);
    color: var(--b05);
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    padding: 0 0.5em;
    width: calc(5 * 1.2em);
    font-size: 1.5em;
}

.color-display[data-input-id="b00"] {
    background-color: var(--b00);
}

.color-display[data-input-id="b01"] {
    background-color: var(--b01);
}

.color-display[data-input-id="b02"] {
    background-color: var(--b02);
}

.color-display[data-input-id="b03"] {
    background-color: var(--b03);
}

.color-display[data-input-id="b04"] {
    background-color: var(--b04);
}

.color-display[data-input-id="b05"] {
    background-color: var(--b05);
}

.color-display[data-input-id="b06"] {
    background-color: var(--b06);
}

.color-display[data-input-id="b07"] {
    background-color: var(--b07);
}

.color-display[data-input-id="b08"] {
    background-color: var(--b08);
}

.color-display[data-input-id="b09"] {
    background-color: var(--b09);
}

.color-display[data-input-id="b0a"] {
    background-color: var(--b0a);
}

.color-display[data-input-id="b0b"] {
    background-color: var(--b0b);
}

.color-display[data-input-id="b0c"] {
    background-color: var(--b0c);
}

.color-display[data-input-id="b0d"] {
    background-color: var(--b0d);
}

.color-display[data-input-id="b0e"] {
    background-color: var(--b0e);
}

.color-display[data-input-id="b0f"] {
    background-color: var(--b0f);
}
